@import 'universal-styles/colors.scss';

.form {
    &__input-name,
    &__input-email {
        input {
            text-align: center;
            margin-top: 10px;
            padding: 8px;
            height: 35px;
            width: 100%;
            background-color: $mainBrightColor;
            border: 2px solid $borderColor;
            border-radius: 5px;
        }
    }

    &__textarea {
        textarea {
            margin-top: 10px;
            padding: 8px;
            min-height: 100px;
            width: 100%;
            min-width: 270px;
            max-width: 346px;
            color: $mainDarkColor;
            background-color: $mainBrightColor;
            border: 2px solid $borderColor;
            border-radius: 5px;
        }
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 100%;

        &-item {
            padding: 5px 15px;
        }
    }

    &__gender,
    &__checkbox {
        .form__gender-items,
        .form__checkbox-item {
            border: 2px solid transparent;
            border-radius: 5px;
        }
    }
    &__input-name--error,
    &__input-email--error,
    &__textarea--error,
    &__gender--error,
    &__checkbox--error {
        input,
        textarea,
        .form__gender-item,
        .form__checkbox-item {
            border: 2px solid $errorColor;
        }

        p {
            color: $errorColor;
        }
    }
}